@import '../../../css/_constants.css';

.movie {
  padding: 2.2rem 0 5rem 30rem;
  width: 62rem;
  line-height: 1.2;
}

.spinner {
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardMedia {
  height: 34.9rem;
}

.subtitle {
  padding: 1.6rem 1.6rem 0;
  font-size: 1.6rem;
  color: var(--color-grey400);
}

.img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.loaded {
    opacity: 1;
  }
}